.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    h1 {
        font-size: 4rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

.section {
    margin-bottom: 4rem;
    
}

.section:first-child {
    margin-top: 4rem;
}
.ending {
    

    span {
        font-style: italic;
        
        line-height: 2rem;
    }
}

.link {
    width: 100%;
    margin: 0 auto;
    

    a {
        text-align: center;
        text-decoration: none;
        font-size: 2rem;
        margin: 0 auto;
        display: block;
    }

    
}


//////////// HOURS ///////

.table {
    max-width: 300px;
    margin: 0 auto;
    
    margin-bottom: 2rem;

    td {
        padding-top: 0;
        padding-bottom: 0;
    }
}