
// Tablets and small desktops
$screen-lg-min: 992px;

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
  }
  :root {
    --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
    --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
    --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
    --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
    --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
}
  

.background {
    //background-image: url('../images/angel.jpg');
    //background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    background-color: #292c2f;
    //background-color: #20341b;
    //background-color: #fff;
    //height: 36vh;
    width: 100%;
    //position: absolute;
    //top: 0;
    //z-index: -1;
    //padding-top: 4rem;
    color: #e0ffff;
    padding-bottom: 3rem;
    padding-top: 2rem;
}





.center {
    
        margin: 0 auto;
        text-align: center;
        @include lg {
            //margin-left: 7%;
        }
    h2 {
        font-size: 2rem;
        color: #fffacd;
        //#b1813a
        font-family: "amita";
        
        @include lg {
            font-size: 4rem;
        }
    }

    span {
        color: #39dae6;
        font-family: "amita";
    }

    .outline {
        font-style: italic;
        display: inline-block;
        padding: 1rem 1rem 2rem 1rem;
        max-width: 500px;
        margin: 0 auto;
        color: #f4f4f4;
    }

   
}
.max {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //margin-top: 35vh;
    padding-top: 3rem;
    
    @include lg {
        padding-left: 5%;
        padding-right: 5%;
    }
    article {
        min-width: 350px;
        min-height: 400px;
        flex: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
            color: #000;
            
           // text-underline-position: below;
            //text-decoration-style: wavy;
            //text-decoration: underline;
            //text-decoration-color: aquamarine;
        }

        p {
            color: #000;
            max-width: 400px;
            margin: 0 auto;
        }
    }

}

.flex > article:nth-child(1) { background-color: #fdfdfd;}
.flex > article:nth-child(2) { background-color:#fdfdfd;}
.flex > article:nth-child(3) { background-color: #fdfdfd;}
.flex > article:nth-child(4) { background-color: #fdfdfd;}
.flex > article:nth-child(5) { background-color: #fdfdfd;}
.flex > article:nth-child(6) { background-color: #fdfdfd;}

.more {
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    background-color: #047a83;
    padding: .4rem;
    display: block;
    max-width: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
    transition: transform 0.3s var(--ease-out-quad), box-shadow 0.3s var(--ease-out-quad);
    //transition: ease-in-out all .5s;
}

.more:hover {
    //background-color: #39dae6;
    //color: #000;
    transform: translateY(-1px);
    box-shadow: 0 30px 80px 3px rgba(0,0,0,0.3), 0 20px 50px -10px rgba(0,0,0,0.3);
}

.morec {
    margin-top: auto;
    margin-bottom: 2rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.social {
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    color: #39dae6;
    //transition: ease-in-out all .5s;
   
}

.social:hover {
    //background: #39dae6;
}

.greenish {
    background-color: #20341b;
}