
// Tablets and small desktops
$screen-lg-min: 992px;

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
  }
:root {
    --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
}
  

.background {
    //background-image: url('../images/angel.jpg');
    //background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    background-color: #20341b;
    height: 60vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    padding-top: 12rem;
    color: #e0ffff;
}





.center {
    
        margin: 0 auto;
        text-align: center;
        @include lg {
            //margin-left: 7%;
        }
    h2 {
        font-size: 2rem;
        color: #fffacd;
        font-family: "amita";
        
        @include lg {
            font-size: 4rem;
        }
    }

    span {
        color: #39dae6;
        font-family: "amita";
    }

    .outline {
        font-style: italic;
        display: inline-block;
        padding: 0 1rem 2rem 1rem;
        max-width: 500px;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 53vh;

    article {
        min-width: 350px;
        min-height: 400px;
        flex: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
            color: #000;
            
           // text-underline-position: below;
            //text-decoration-style: wavy;
            //text-decoration: underline;
            //text-decoration-color: aquamarine;
        }

        p {
            color: #000;
            max-width: 400px;
            margin: 0 auto;
        }
    }

}

.flex > article:nth-child(1) { background-color: #fdfdfd;}
.flex > article:nth-child(2) { background-color:#fdfdfd;}
.flex > article:nth-child(3) { background-color: #fdfdfd;}
.flex > article:nth-child(4) { background-color: #fdfdfd;}
.flex > article:nth-child(5) { background-color: #fdfdfd;}
.flex > article:nth-child(6) { background-color: #fdfdfd;}

.more {
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    background-color: #047a83;
    padding: .4rem;
    display: block;
    max-width: 8rem;
    margin-top: 2rem;
    box-shadow: 0 30px 60px -10px rgba(0,0,0,0.3), 0 18px 36px -18px rgba(0,0,0,0.33);
    transition: transform 0.3s var(--ease-out-quad),box-shadow 0.3s var(--ease-out-quad);

}



.morec {
    margin-top: auto;
    margin-bottom: 2rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.social {
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    color: #39dae6;
    
    
}

.greenish {
    background-color: #20341b;
}