.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;

    li {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.title {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.nav-item {
    color: #f4f4f4;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #fff;
}

.header {
    //outline: 1px solid red;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #000;
    padding-left: 4rem;
    display: flex;
    justify-content: space-between;
    padding-right: 4rem;
    

    h1 {
        margin-bottom: 0;
        color: #fff;
    }

    p {
        font-size: .8rem;
        color: #333;
    }
}